name: amd64-linux-main-proof

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:



  proof-all:
    runs-on: [self-hosted, linux, X64, amd64-main]
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - uses: DeterminateSystems/magic-nix-cache-action@v4

      - name: extract and check
        uses: workflow/nix-shell-action@v3.3.0
        with:
          flakes: .
          flakes-from-devshell: true
          script: |
            # extract and check
            make -j$JOBS -C proof/ CI=1 default
            # dist
            ./scripts/ci/releaser/jdist-proof

      - name: print logs
        run: make         -C proof/ CI=1 reporter

      - name: return error if there are any errors
        run: make         -C proof/ CI=1 err

      - name: libjade-logs-proof.tar.gz - contains non-empty logs and errors
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: libjade-logs-proof.tar.gz
          path: proof/libjade-logs-proof.tar.gz

      - name: libjade-dist-proof.tar.gz - contains all EasyCrypt files and test.config
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: libjade-dist-proof.tar.gz
          path: libjade-dist-proof.tar.gz

