name: 'amd64-linux'

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:

  compile:
    runs-on: [self-hosted, linux, X64, amd64]
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: build
        run: make -j$JOBS -C src/ CI=1

      - name: artifact - src compilation log
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: compilation-log
          path: src/check.tar.gz

  test:
    runs-on: [self-hosted, linux, X64, amd64]
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: compile and run
        run: make -j$JOBS -C test/ -f Makefile2 CI=1
      - name: print logs
        run: make         -C test/ -f Makefile2 CI=1 reporter
      - name: return error if there are any errors
        run: make         -C test/ -f Makefile2 CI=1 err

      - name: test-ci.tar.gz - non-empty logs and errors
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-ci.tar.gz
          path: test/test-ci.tar.gz

  proof:
    runs-on: [self-hosted, linux, X64, amd64]
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: build
        run: make -j$JOBS -C proof/ CI=1 ECJOBS=$JOBS

      - name: artifact - proof extraction log
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: extraction-log
          path: proof/check.tar.gz

      - name: artifact - proof easycrypt files
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: ecfiles
          path: proof/ecfiles.tar.gz
